.custom-select {
  box-sizing: border-box;
  width: 100%;
  display: block;
  position: absolute;
  height: 100%;
  z-index: 900;
  opacity: 0;
}

.custom-select__wrapper {
  position: relative;
  display: block;
  width: 100%;
  min-height: 8rem;
}

.dropdown .custom-select__wrapper {
  min-height: 2rem;
}

.selectbox {
  box-sizing: border-box;
  display: block;
  font: 400 1.6rem/2rem "Golos", Segoe UI, Helvetica Neue, Helvetica, "Trebuchet MS", Arial, " sans-serif";
  width: 100%;
  position: relative;
}

.selectbox-options {
  position: absolute;
  width: 100%;
  min-width: 22rem;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 0.6rem 2rem rgba(15, 20, 89, 0.1);
  border-radius: 1rem;
  margin: 2px 0 0;
  z-index: 1;
  max-height: 40rem;
}

.selectbox-options--hidden {
  display: none;
}

.selectbox__option {
  padding: 1.5rem 2rem;
  cursor: pointer;
  color: rgba(71, 72, 89, 0.8);
  background: #fff;
  display: flex;
  align-items: center;
  transition: .2s ease-in-out;
}

.selectbox__option:hover {
  background: #F3F4F8;
  color: #0F1459;
}

.selectbox__option--selected {
  color: #0F1459;
  background: #F3F4F8;
}

.selectbox__label {
  cursor: pointer;
  width: 100%;
  padding: 4rem 5rem 2rem 2rem;
  box-sizing: border-box;
  height: 8rem;
  background: #fff;
  color: rgba(71, 72, 89, 0.8);
  position: relative;
  display: block;
  border-radius: 1rem;
  box-shadow: inset 0 0 0 2px rgba(15, 20, 89, 0.25);
  transition: 150ms linear all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-label .selectbox__label {
  padding: 2.2rem 5rem 2.2rem 1.5rem;
}

.dropdown .selectbox__label {
  padding: 0 2rem 0 0;
  box-shadow: none;
  height: auto;
  border-radius: 0;
  background: none;
}

.selectbox__label:after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1rem;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2212%22%20height%3D%227%22%20viewBox%3D%220%200%2012%207%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M4.963%206.6L.425%202.337A1.316%201.316%200%2001.425.4a1.53%201.53%200%20012.063%200L6%203.699l3.512-3.3a1.53%201.53%200%20012.063%200%201.316%201.316%200%20010%201.938L7.037%206.6A1.504%201.504%200%20016%207a1.504%201.504%200%2001-1.037-.4z%22%20fill%3D%22%230F1459%22%2F%3E%3C%2Fsvg%3E") no-repeat center center;
  background-size: 1.2rem;
  position: absolute;
  right: 2rem;
  top: 50%;
  border-radius: .3rem;
  transform: translateY(-50%);
  transition: 0.2s ease-in-out;
}

.dropdown .selectbox__label:after {
  transform: translateY(-40%);
  right: 0;
}

.selectbox__label:hover {
  box-shadow: inset 0 0 0 2px #FF9600;
}

.selectbox__label:hover:after {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2212%22%20height%3D%227%22%20viewBox%3D%220%200%2012%207%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M4.963%206.6L.425%202.337A1.316%201.316%200%2001.425.4a1.53%201.53%200%20012.063%200L6%203.699l3.512-3.3a1.53%201.53%200%20012.063%200%201.316%201.316%200%20010%201.938L7.037%206.6A1.504%201.504%200%20016%207a1.504%201.504%200%2001-1.037-.4z%22%20fill%3D%22%23FF9600%22%2F%3E%3C%2Fsvg%3E") no-repeat center center;
  background-size: 1.2rem;
}

.dropdown .selectbox__label:hover {
  box-shadow: none;
  color: #FF9600;
}

@media screen and (min-width: 768px) {
  .dropdown .custom-select__wrapper {
    width: auto;
  }
}

@media screen and (max-width: 1024px) {
  .custom-select {
    width: 100%;
    display: block !important;
    position: absolute;
    height: 100%;
    z-index: 900;
  }

  .selectbox {
    pointer-events: none;
  }
}

@media screen and (max-width: 767px) {
  .custom-select__wrapper {
    min-height: 6.4rem;
  }

  .selectbox__label {
    padding: 3.2rem 5rem 1.2rem 1.5rem;
    height: 6.4rem;
  }
}