.tns-outer {
  padding: 0 !important;
}

.tns-outer [hidden] {
  display: none !important;
}

.tns-outer [aria-controls],
.tns-outer [data-action] {
  cursor: pointer;
}

.tns-slider {
  transition: all 0s;
}

.tns-slider > .tns-item {
  box-sizing: border-box;
}

.tns-horizontal.tns-subpixel {
  display: flex;
  margin: 0;
}

.tns-horizontal.tns-subpixel > .tns-item {
  padding: 0;
  margin: 0;
  outline: none;
}

.tns-horizontal.tns-subpixel > .tns-item:before {
  display: none;
}

.tns-horizontal.tns-no-subpixel:after {
  content: '';
  display: table;
  clear: both;
}

.tns-horizontal.tns-no-subpixel > .tns-item {
  float: left;
}

.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
  margin-right: -100%;
}

.tns-no-calc {
  position: relative;
  left: 0;
}

.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px;
}

.tns-gallery > .tns-item {
  position: absolute;
  left: -100%;
  transition: transform 0s, opacity 0s;
}

.tns-gallery > .tns-slide-active {
  position: relative;
  left: auto !important;
}

.tns-gallery > .tns-moving {
  transition: all 0.25s;
}

.tns-autowidth {
  display: inline-block;
}

.tns-lazy-img {
  transition: opacity 0.6s;
  opacity: 0.6;
}

.tns-lazy-img.tns-complete {
  opacity: 1;
}

.tns-ah {
  transition: height 0s;
}

.tns-ovh {
  overflow: hidden;
}

.tns-visually-hidden {
  position: absolute;
  left: -10000em;
}

.tns-transparent {
  opacity: 0;
  visibility: hidden;
}

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0;
}

.tns-normal,
.tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}

.tns-vpfix {
  white-space: nowrap;
}

.tns-vpfix > div,
.tns-vpfix > li {
  display: inline-block;
}

.tns-t-subp2 {
  margin: 0 auto;
  width: 310px;
  position: relative;
  height: 10px;
  overflow: hidden;
}

.tns-t-ct {
  width: 2333.33333%;
  width: calc(100% * 70 / 3);
  position: absolute;
  right: 0;
}

.tns-t-ct:after {
  content: '';
  display: table;
  clear: both;
}

.tns-t-ct > div {
  width: 1.42857%;
  width: calc(100% / 70);
  height: 10px;
  float: left;
}

.slider__arrows {
  display: flex;
}

.slider__arrow {
  padding: 0;
  background: none;
  border-radius: 0;
  opacity: 1;
  cursor: pointer;
  line-height: 1;
  min-height: unset;
  color: #FF9600;
  width: auto;
}

.slider__arrow:focus {
  outline: none;
}

.slider__arrow_left {
  margin: 0;
}

.slider__arrow_right {
  margin: 0 0 0 3rem;
}

.slider__arrow:disabled {
  color: #0F1459 !important;
  box-shadow: none !important;
  background: none !important;
  opacity: 0.25;
}

.tns-nav {
  position: relative;
  z-index: 2;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  margin: 3rem 0 6rem;
}

.tns-nav button {
  background-color: rgba(15, 20, 89, 0.25);
  width: 5rem;
  height: 2px;
  min-height: 2px;
  padding: 0;
  transition: all .2s ease-in-out;
  cursor: pointer;
  line-height: 0;
  margin: .5rem .7rem;
}

.tns-nav button:focus {
  outline: none;
}

.tns-nav button.tns-nav-active,
.tns-nav button.tns-nav-active:focus {
  background-color: #0F1459;
  pointer-events: none;
}

@media (hover) and (min-width: 1025px) {
  .slider__arrow:hover {
    background: none;
    color: #0F1459;
  }

  .tns-nav button:hover,
  .tns-nav button:focus {
    background-color: #0F1459;
  }
}

@media screen and (max-width: 767px) {
  .slider__arrow_right {
    margin: 0 0 0 2rem;
  }

  .slider__arrow svg {
    width: 1.5rem;
    height: 2.4rem;
  }

  .tns-nav {
    margin: 2rem 0 4rem;
  }

  .tns-nav button {
    width: 3rem;
    margin: .5rem;
  }
}